.header h1 {	
	/*margin-bottom: 30px;*/
	margin: 0 auto;
	display: inline-block;
	color: #C2B280;
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
}

nav a {
	  display: block;
	  margin: 20px 0;
	  font-weight: bold;
	  text-decoration: none;
	  color: black;
	  font-size: 1.2em;
	  position: relative;
	}
nav a:hover {
	  color: #C2B280;
	}
nav a::after {
	  content: '';
	  display: block;
	  width: 0;
	  height: 2px;
	  background: #C2B280;
	  transition: width 0.3s;
	  position: absolute;
	  bottom: -4px;
	  left: 0;
	}
nav a:hover::after {
	  width: 100%;
	}
nav .active {
	  color: #C2B280;
	}