* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
}


.outer-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  height: 100vh;
  max-width: 1000px;
  width: 50%;
}

/*GOOD*/
	.sidebar {
	  width: 200px;
	  background-color: white;
	  padding: 40px 20px;
	  /*border-right: 1px solid #ccc;*/
	  /*flex-shrink: 0;*/
	  
	  display:flex;
	  flex-direction: column;
	  justify-content: center;
	  /*align-items: flex-start;*/
	}

	.sidebar nav a {
	  display: block;
	  margin: 20px 0;
	  font-weight: bold;
	  text-decoration: none;
	  color: black;
	  font-size: 1.2em;
	  position: relative;
	}

	.sidebar nav a:hover {
	  color: darkgreen;
	}

	.sidebar nav a::after {
	  content: '';
	  display: block;
	  width: 0;
	  height: 2px;
	  background: green;
	  transition: width 0.3s;
	  position: absolute;
	  bottom: -5px;
	  left: 0;
	}

	.sidebar nav a:hover::after {
	  width: 100%;
	}

	.sidebar nav .active {
	  color: darkgreen;
	}

.main { 
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	/*height: 100vh;*/
	/*height: 200%;*/
	background: #f4f4f4;
	border: 1px dashed red;
	
}

.header {
	padding: 60px 0;
	max-width: 1000px;
	width: 100%;
	text-align: center;
	/*border-bottom: 1px solid #ccc;*/
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1; 

	border: 1px dashed red;
}
	
.header h1 {	
	/*margin-bottom: 30px;*/
	margin: 0 auto;
	display: inline-block;
	
	font-size: 2em;
	font-weight: bold;
	font-style: italic;

}

.scrollable {
	flex: 1;
	white-space: pre;
	background: #f4f4f4;
	overflow-y:auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	
	font-size: 1em;
	font-family: monospace;
	padding: 20px;
}
